*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 3, 28);
    align-items: center;
    line-height: 3.5rem;
}

.left{
    font-size: 2rem;
    cursor: pointer;
}

#check{
    display: none;
}

.checkBtn{
    display: none;
}

.checkBtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    color: #ed1e79;
}

.main-nav{
    display: flex;
    list-style-type: none;
}

.main-nav li a{
    padding: 5px 15px;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.main-nav li a:hover{
    background-color: #fff;
    color: rgb(26, 3, 28);
    border-radius: 8px;
}

@media screen and (max-width:805px) {
    .main-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
        background-color: rgb(26, 3, 28);
    }

    #check{
        display: none;
    }

    .checkBtn{
        display: block;
    }

    #check:checked ~ ul {
        left: 0%;
    }
}